* {
  margin: 0;
  padding: 0;
  color: #fcfffc;
}

#indice a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #248224;
  height: 130px;
  font-size: xx-large;
}

nav ol {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #040f0f;
}

div.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

div.image-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  background-image: url('images/Uerj-divulga-edital-complementar-com-orientacoes-sobre-Vestibular-Estadual-2020.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.residencia {
  background-color: #248232;
  border-radius: 5px;
  font-size: 30px;
  align-self: center;
  width: 60%;
}

#foto-de-perfil {
  align-self: center;
  border-radius: 50%;
  border-color: #2ba84a;
  border-style: solid;
  width: 800px;
  margin-bottom: 20px;
}

#perfil {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 70px;
  margin: 50px 0;
  background-color: #040f0f;
}

.descricao {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

#competencias {
  display: flex;
  flex-direction: column;
  background-color: #040f0f;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  list-style-type: none;
  margin-bottom: 20px;
}

#competencias-header {
  font-size: 70px;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #040f0f;
  font-size: 50px;
  padding-bottom: 20px;
}

ul#project-list {
  list-style-type: none;
}

ul#project-list li a {
  text-decoration: none;
}

#project-header {
  font-size: 70px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #248224;
  font-size: 30px;
  height: 70px;
}